.about-page {
    display: flex;
    align-items: center;
    // todo calc minus the header height
    width: 100%;
    background: black;
    &-header {
        border: 15px solid black;
        margin-top: 5rem;
        img {
            width: 100%;
        }
    }
    &-image {
        flex: 0 0 50%;
        img {
            width: 100%;
        }
    }
    &-content {
        flex: 0 0 45%;
        padding: 0 2rem;
        color: white;
        &-heading {
            font-size: 50px;
        }
        &-body {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
        }
    }
}

// Mobile Layout
@media (max-width: 769px) {
    .about-page {
        flex-direction: column-reverse;
        &-image {
            flex: 0 0 95%;
        }
        &-content {
            flex: 0 0 95%;
        }
    }
}
