.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    // todo calc minus the header height
    width: 100%;
    background-size: cover;
    background-color: black;
    &-content {
        flex: 0 0 50%;
        padding: 0 2rem;
        text-align: center;
        color: white;
        &-heading {
            font-size: 50px;
        }
        &-body {
            font-size: 23px;
            font-family: 'Roboto', sans-serif;
        }
    }
}

// Mobile Layout
@media (max-width: 769px) {
    .contact {
        &-content {
            flex: 0 0 85%;
            padding: 0 2rem;

        }
    }
}