.cover {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // todo calc minus the header height
    width: 100%;
    background-image: url('../../../../public/images/cover.png') fixed cover;
    &-animation {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        &-image {
            position: absolute;
            top: 30%;
            width: 500px;
            height: 500px;
            animation-name: spin;
            animation-duration: 60s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            background-size: cover;
            opacity: 0.5;
        }
        &-l {
            left: -250px;
        }
        &-r {
            right: -250px;
        }
    }
    &-image {
        flex: 0 0 30%;
        text-align: center;
        img {
            max-height: 600px;
        }
    }
    &-content {
        flex: 0 0 70%;
        // todo calc minus the header height
        align-items: center;
        justify-items: center;
        text-align: center;
        color: white;
        &-heading {
            text-align: center;
            &-text {
                font-size: 42px;
                margin: 0;
            }
        }
        &-subheading {
            text-align: center;
            margin: 2rem 0;
            &-text {
                font-size: 30px;
                margin: 0;
            }
        }
    }
}

// Animation
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
// Mobile Layout

@media (max-width: 1300px) {
    .cover {
        &-animation {
            display: none;
        }
    }
}

@media (max-width: 769px) {
    .cover {
        &-image {
            flex: 0 0 40%;
            img {
                max-height: 350px;
            }
        }
        &-content {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-heading-text {
                font-size: 22px;
                padding: 0 1rem;
            }
            &-subheading-text {
                font-size: 26px;
                padding: 0 1rem;
            }
        }
    }
}
