.highlight {
    padding: 6rem;
    background-size: cover;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-size: cover;
        padding-bottom: 3rem;
        color: white;
        box-sizing: border-box;
        box-shadow: 0 0 0 3px #fefefe inset;
        border: 10px solid #000;
        &--drk {
            box-shadow: 0 0 0 3px #000 inset;
            border: 10px solid #fefefe;
            color: black;
        }
    }
    &-items-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 80%;
        outline: 2px solid white;
        padding: 2rem;
        margin-top: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 0rem;
        &--drk {
            outline: 2px solid black;
        }
    }
    &-item {
        flex-basis: 23%;
        width: 100%;
        margin: 1rem;
        filter: grayscale(100);
        transition: ease-in-out .2s;
        image {
            width: 100%;
        }
        &:hover {
            filter: grayscale(0);
        }
    }
    &-heading {
        font-size: 36px;
        padding: 0;
        margin: 0;
        padding-top: 4rem;
    }
    &-subheading {
        font-size: 24px;
    }
    &-content {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    }
}
