html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
video {
    width: 100%;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 2rem 0 7rem 0;
}

@media (max-width: 1090px) {
    .centered {
        width: 90%;
        padding: 2rem 0 2rem 0;
    }
    .content-container {
        display: block;
        width: 100%;
        padding-bottom: 2rem;
    }
    .content-body {
        display: block;
        max-width: 100%;
    }
}

// .root {
//     display: block;
//     padding: 4rem 0;
//     box-sizing: border-box;
//     height: 100%;
// }
// main {
//     display: flex;
//     min-height: 100%;
// }

// @media (min-width: 769px) {
//     .root {
//         display: flex;
//         flex: 1 0 auto;
//     }
//     main {
//         flex: 1 0 auto;
//     }
// }
