.navigation {
    max-height: 80px;
    display: flex;
    &-logo {
        flex-grow: 1;
        &-image {
            max-height: 83px;
        }
    }
    &-links {
        font-size: 20px;
        justify-content: flex-end;
        margin-right: 3rem;
    }
}

// Mobile Layout
@media (max-width: 1200px) {
    .navigation-links {
        display: none;
    }
}

// Mobile Layout
@media (min-width: 1200px) {
    .bottom-nav-container {
        display: none;
    }
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    color: black;
    button, span, .MuiButton {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
        align-self: center;
        font-size: 12px;
        height: 55px;
    }
}

// .container {
//     width: 0;
//   }
//   ul {
//     opacity: 0;
//     width: 100%;
//     height: 100vh;
//     text-align: right;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     position: fixed;
//     top: 0;
//     background-color: #fff;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     z-index: 1;
//     transform: translateY(100%);
//     transition: opacity 200ms;
//   }
//   .active ul {
//     opacity: 1;
//     transform: translateY(0);
//   }
//   li {
//     margin-bottom: 1.75rem;
//     font-size: 2rem;
//     padding: 0 1.5rem 0 0;
//   }
//   li:last-child {
//     margin-bottom: 0;
//   }
//   .active {
//     color: #222;
//   }

//   @media (min-width: 769px) {
//     .container {
//       width: 7rem;
//       display: block;
//     }
//     ul {
//       opacity: 1;
//       width: 7rem;
//       top: auto;
//       display: block;
//       transform: translateY(0);
//     }
//     li {
//       font-size: 1rem;
//       padding: 0;
//     }
//   }
