@font-face {
    font-family: Arame;
    src: url(../fonts/Arame.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

// Center align icons in body text
.MuiSvgIcon-root {
    vertical-align: middle;
}
